<?xml version="1.0" encoding="UTF-8"?>
<!-- 控制台日志配置 -->
<included>
    <property name="CONSOLE_LOG_TARGET" value="${CONSOLE_LOG_TARGET:-System.out" />
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <target>${CONSOLE_LOG_TARGET}</target>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>${CONSOLE_LOG_CHARSET}</charset>
        </encoder>
    </appender>
</included>