<?xml version="1.0" encoding="UTF-8"?>
<!-- 滚动文件日志配置 -->
<included>
    <property name="ROLLINGPOLICY_MAX_FILE_SIZE" value="${ROLLINGPOLICY_MAX_FILE_SIZE:-100MB}" />
    <property name="ROLLINGPOLICY_TOTAL_SIZE_CAP" value="${ROLLINGPOLICY_TOTAL_SIZE_CAP:-10GB}" />
    <property name="ROLLINGPOLICY_MAX_HISTORY" value="${ROLLINGPOLICY_MAX_HISTORY:-365}" />
    <property name="ROLLINGPOLICY_CLEAN_HISTORY_ON_START" value="${log.cleanHistoryOnStart:-${ROLLINGPOLICY_CLEAN_HISTORY_ON_START:-false}}" />
    <property name="ROLLINGPOLICY_MIN_INDEX" value="${ROLLINGPOLICY_MIN_INDEX:-10}" />
    <property name="ROLLINGPOLICY_MAX_INDEX" value="${ROLLINGPOLICY_MAX_INDEX:-100}" />

    <!-- error级别及其以上日志 -->
    <property name="ERROR_LOG_FILE" value="${ERROR_LOG_FILE:-${LOG_BASE}/error.log}" />
    <property name="ERROR_LOG_ROLLING_FILE" value="${ERROR_LOG_ROLLING_FILE:-${LOG_BASE}/error/%d{yyyy-MM}.%i.gz}" />
    <appender name="rollingErrorFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${ERROR_LOG_FILE}</file>
        <append>${FILE_LOG_APPEND:-true}</append>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${FILE_LOG_PATTERN}</pattern>
            <charset>${FILE_LOG_CHARSET}</charset>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${ERROR_LOG_ROLLING_FILE}</fileNamePattern>
            <cleanHistoryOnStart>${ROLLINGPOLICY_CLEAN_HISTORY_ON_START}</cleanHistoryOnStart>
            <maxFileSize>${ROLLINGPOLICY_MAX_FILE_SIZE}</maxFileSize>
            <MaxHistory>${ROLLINGPOLICY_TOTAL_SIZE_CAP}</MaxHistory>
            <totalSizeCap>${ROLLINGPOLICY_MAX_HISTORY}</totalSizeCap>
        </rollingPolicy>
    </appender>

    <!-- warn日志 -->
    <property name="WARN_LOG_FILE" value="${WARN_LOG_FILE:-${LOG_BASE}/warn.log}" />
    <property name="WARN_LOG_ROLLING_FILE" value="${WARN_LOG_ROLLING_FILE:-${LOG_BASE}/warn/%d{yyyy-MM-dd}.%i.gz}" />
    <appender name="rollingWarnFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${WARN_LOG_FILE}</file>
        <append>${FILE_LOG_APPEND:-true}</append>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${FILE_LOG_PATTERN}</pattern>
            <charset>${FILE_LOG_CHARSET}</charset>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>WARN</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${WARN_LOG_ROLLING_FILE}</fileNamePattern>
            <cleanHistoryOnStart>${ROLLINGPOLICY_CLEAN_HISTORY_ON_START}</cleanHistoryOnStart>
            <maxFileSize>${ROLLINGPOLICY_MAX_FILE_SIZE}</maxFileSize>
            <MaxHistory>${ROLLINGPOLICY_TOTAL_SIZE_CAP}</MaxHistory>
            <totalSizeCap>${ROLLINGPOLICY_MAX_HISTORY}</totalSizeCap>
        </rollingPolicy>
    </appender>

    <!-- info日志 -->
    <property name="INFO_LOG_FILE" value="${INFO_LOG_FILE:-${LOG_BASE}/info.log}" />
    <property name="INFO_LOG_ROLLING_FILE" value="${INFO_LOG_ROLLING_FILE:-${LOG_BASE}/info/%d{yyyy-MM-dd}.%i.gz}" />
    <appender name="rollingInfoFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${INFO_LOG_FILE}</file>
        <append>${FILE_LOG_APPEND:-true}</append>
        <!-- <prudent>true</prudent> -->
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${FILE_LOG_PATTERN}</pattern>
            <charset>${FILE_LOG_CHARSET}</charset>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${INFO_LOG_ROLLING_FILE}</fileNamePattern>
            <cleanHistoryOnStart>${ROLLINGPOLICY_CLEAN_HISTORY_ON_START}</cleanHistoryOnStart>
            <maxFileSize>${ROLLINGPOLICY_MAX_FILE_SIZE}</maxFileSize>
            <MaxHistory>${ROLLINGPOLICY_TOTAL_SIZE_CAP}</MaxHistory>
            <totalSizeCap>${ROLLINGPOLICY_MAX_HISTORY}</totalSizeCap>
        </rollingPolicy>
    </appender>

    <!-- debug级别及其以下日志 -->
    <property name="DEBUG_LOG_FILE" value="${DEBUG_LOG_FILE:-${LOG_BASE}/debug.log}" />
    <property name="DEBUG_LOG_ROLLING_FILE" value="${DEBUG_LOG_ROLLING_FILE:-${LOG_BASE}/debug/%i.gz}" />
    <appender name="rollingDebugFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${DEBUG_LOG_FILE}</file>
        <append>${FILE_LOG_APPEND:-true}</append>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${FILE_LOG_PATTERN}</pattern>
            <charset>${FILE_LOG_CHARSET}</charset>
        </encoder>
        <filter class="org.zero.log.filter.LowFilter">
            <level>DEBUG</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${DEBUG_LOG_ROLLING_FILE}</fileNamePattern>
            <minIndex>${ROLLINGPOLICY_MIN_INDEX}</minIndex>
            <maxIndex>${ROLLINGPOLICY_MAX_INDEX}</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>${ROLLINGPOLICY_MAX_FILE_SIZE}</maxFileSize>
        </triggeringPolicy>
    </appender>
</included>