<?xml version="1.0" encoding="UTF-8"?>
<!-- 通用logger配置 -->
<included>
    <!-- Spring Framework-->
    <logger name="org.springframework" level="INFO" />
    <!-- Feign -->
    <logger name="org.springframework.cloud.netflix.feign" level="DEBUG" additivity="false">
        <appender-ref ref="console" />
    </logger>
    <!-- Actuator -->
    <logger name="org.springframework.boot.actuate" level="WARN" />
    <!-- Actuator Endpoint -->
    <logger name="org.springframework.boot.actuate.endpoint.web.servlet" level="TRACE" additivity="false">
        <appender-ref ref="console" />
    </logger>
    <!-- Actuator JMX -->
    <logger name="org.springframework.boot.actuate.endpoint.jmx" level="WARN" />
    <!-- scheduling -->
    <logger name="org.springframework.scheduling.annotation.ScheduledAnnotationBeanPostProcessor" level="INFO" />

    <!-- apache -->
    <logger name="org.apache.catalina.startup.DigesterFactory" level="ERROR" />
    <logger name="org.apache.catalina.util.LifecycleBase" level="ERROR" />
    <logger name="org.apache.coyote.http11.Http11NioProtocol" level="WARN" />
    <logger name="org.apache.sshd.common.util.SecurityUtils" level="WARN" />
    <logger name="org.apache.tomcat.util.net.NioSelectorPool" level="WARN" />
    <!-- Nacos -->
    <logger name="com.alibaba.nacos.client.naming" level="WARN" />
    <!-- Hibernate -->
    <logger name="org.hibernate" level="INFO" />
    <logger name="org.hibernate.validator.internal.util.Version" level="WARN" />
    <!-- Jetty -->
    <logger name="org.eclipse.jetty.util.component.AbstractLifeCycle" level="ERROR" />
</included>